<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InventoryManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <InventoryManager.Properties.Settings>
            <setting name="DefaultForColor1" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DefaultForColor2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultForColor3" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MeatInFreezerForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MeatInFreezerForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MeatInFreezerForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MeatInRefrigeratorForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MeatInRefrigeratorForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MeatInRefrigeratorForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColdCollationInFreezerForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColdCollationInFreezerForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColdCollationInFreezerForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColdCollationInRefrigeratorForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColdCollationInRefrigeratorForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColdCollationInRefrigeratorForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Meat" serializeAs="String">
                <value>Hús</value>
            </setting>
            <setting name="ColdCollation" serializeAs="String">
                <value>Felvágott</value>
            </setting>
            <setting name="Dairy" serializeAs="String">
                <value>Tejtermék</value>
            </setting>
            <setting name="Egg" serializeAs="String">
                <value>Tojás</value>
            </setting>
            <setting name="Ready" serializeAs="String">
                <value>Készétel</value>
            </setting>
            <setting name="Conserve" serializeAs="String">
                <value>Tartós</value>
            </setting>
            <setting name="VegsAndFruits" serializeAs="String">
                <value>Zölds, Gyüm</value>
            </setting>
            <setting name="DeepFrozen" serializeAs="String">
                <value>Mélyhutött</value>
            </setting>
            <setting name="Munchies" serializeAs="String">
                <value>Nasi</value>
            </setting>
            <setting name="Chemicals" serializeAs="String">
                <value>Készétel</value>
            </setting>
            <setting name="Freezer" serializeAs="String">
                <value>Fagyasztó</value>
            </setting>
            <setting name="Refrigerator" serializeAs="String">
                <value>Huto</value>
            </setting>
            <setting name="Flat" serializeAs="String">
                <value>Lakás</value>
            </setting>
            <setting name="DairyInFreezerForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DairyInFreezerForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DairyInFreezerForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DairyInRefrigeratorForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DairyInRefrigeratorForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DairyInRefrigeratorForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EggInRefrigeratorForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EggInRefrigeratorForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EggInRefrigeratorForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EggInFlatForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EggInFlatForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EggInFlatForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadyInFreezerForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadyInFreezerForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadyInFreezerForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadyInRefrigeratorForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadyInRefrigeratorForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadyInRefrigeratorForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConserveForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConserveForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConserveForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VegsAndFruitsInRefrigeratorForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VegsAndFruitsInRefrigeratorForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VegsAndFruitsInRefrigeratorForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VegsAndFruitsInFlatForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VegsAndFruitsInFlatForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VegsAndFruitsInFlatForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeepFrozenInFreezerForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeepFrozenInFreezerForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeepFrozenInFreezerForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeepFrozenInRefrigeratorForColor1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeepFrozenInRefrigeratorForColor2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeepFrozenInRefrigeratorForColor3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GmailUsernameOfSender" serializeAs="String">
                <value />
            </setting>
            <setting name="GmailPasswordOfSender" serializeAs="String">
                <value />
            </setting>
            <setting name="GmailUsernameOfReceiver" serializeAs="String">
                <value />
            </setting>
            <setting name="SendOnMondays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendOnTuesdays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendOnWednesdays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendOnThursdays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendOnFridays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendOnSaturdays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendOnSundays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeAtMondays" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeAtTuesdays" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeAtWednesdays" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeAtThursdays" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeAtFridays" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeAtSaturdays" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeAtSundays" serializeAs="String">
                <value />
            </setting>
        </InventoryManager.Properties.Settings>
    </userSettings>
</configuration>